In [3]:
## Importing dependencies 
import pandas as pd
import os

In [5]:
## Importing in CSV files
school_data_csv = "Resources/schools_complete.csv"
student_data_csv =  "Resources/students_complete.csv"

## Reading in CSV files and convert into Pandas dataframes
school_data_df = pd.read_csv(school_data_csv)
student_data_df = pd.read_csv(student_data_csv)

## Merging the dataframes
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [7]:
## Verifying data is clean
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [9]:
## Total number of unique schools

## Printing out school dataframe to view all the school names
print(school_data_df)
## Counting the rows so row 0 is also included in the total
#school_data_df.count()

print("Total number of unique schools: 15")

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130
Total number of unique schools: 15

In [23]:
## Total students

## Counting each student ID
student_data_df.count()

total_students = 39170
print(f"Total number of students: {39170}")

Total number of students: 39170

In [13]:
## Total budget

## Adding the budget for each school together
total_budget = school_data_df['budget'].sum()
#print(total_budget)

print(f"Total budget: ${total_budget}")

Total budget: $24649428

In [15]:
## Average math score

## Finding the average math score, then rounding to the nearest whole #
average_math = (school_data_complete['math_score'].mean()).round()
#print(average_math)

print(f"Average math score: {average_math}")

Average math score: 79.0

In [17]:
## Average reading score

## Finding the average reading score, then rounding to the nearest whole #
average_reading = (school_data_complete['reading_score'].mean()).round()
#print(average_reading)

print(f"Average reading score: {average_reading}")

Average reading score: 82.0

In [69]:
## % passing math (the percentage of students who passed math)

## Sorting to find students that passed math
math_pass = school_data_complete.loc[school_data_complete['math_score'] >= 70]
#print(math_pass)
#percent_pass_math = math_pass.mean()
## Counts how many students are in the new variable
math_pass.count()
## Setting a variable to hold the # of passing students for math
student_math_pass = 29370

## Finding the average
average_math_pass = ((student_math_pass/total_students)*100)
r_average_math_pass = round(average_math_pass)
#print(r_average_math_pass)

print(f"Average passing math: {r_average_math_pass}%")

Average passing math: 75%

In [73]:
## % passing reading (the percentage of students who passed reading)

## Sorting to find students that passed reading
reading_pass = school_data_complete.loc[school_data_complete['reading_score'] >= 70]
#print(reading_pass)
#percent_pass_reading = reading_pass.mean()
## Counts how many students are in the new variable
reading_pass.count()
## Setting a variable to hold the # of passing students for reeading
student_reading_pass = 33610

## Finding the average
average_reading_pass = ((student_reading_pass/total_students)*100)
r_average_reading_pass = round(average_reading_pass)
#print(r_average_reading_pass)

print(f"Average passing reading: {r_average_reading_pass}%")

Average passing reading: 86%

In [ ]:
## % overall passing (the percentage of students who passed math AND reading)