In [312]:
## Importing dependencies 
import pandas as pd
import os

In [314]:
## Importing in CSV files
school_data_csv = "Resources/schools_complete.csv"
student_data_csv =  "Resources/students_complete.csv"

## Reading in CSV files and convert into Pandas dataframes
school_data_df = pd.read_csv(school_data_csv)
student_data_df = pd.read_csv(student_data_csv)

## Merging the dataframes
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [316]:
## Verifying data is clean
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [318]:
## Total number of unique schools

## Printing out school dataframe to view all the school names
print(school_data_df)
## Counting the rows so row 0 is also included in the total
#school_data_df.count()
unique_schools = 15

print(f"Total number of unique schools: {unique_schools}")

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130
Total number of unique schools: 15

In [320]:
## Total students

## Counting each student ID
student_data_df.count()

total_students = 39170
print(f"Total number of students: {39170}")

Total number of students: 39170

In [322]:
## Total budget

## Adding the budget for each school together
total_budget = school_data_df['budget'].sum()
#print(total_budget)

print(f"Total budget: ${total_budget}")

Total budget: $24649428

In [324]:
## Average math score

## Finding the average math score, then rounding to the nearest whole #
average_math = (school_data_complete['math_score'].mean()).round()
#print(average_math)

print(f"Average math score: {average_math}")

Average math score: 79.0

In [326]:
## Average reading score

## Finding the average reading score, then rounding to the nearest whole #
average_reading = (school_data_complete['reading_score'].mean()).round()
#print(average_reading)

print(f"Average reading score: {average_reading}")

Average reading score: 82.0

In [328]:
## % passing math (the percentage of students who passed math)

## Sorting to find students that passed math
math_pass = school_data_complete.loc[school_data_complete['math_score'] >= 70]
#print(math_pass)
#percent_pass_math = math_pass.mean()
## Counts how many students are in the new variable
math_pass.count()
## Setting a variable to hold the # of passing students for math
student_math_pass = 29370

## Finding the average
average_math_pass = ((student_math_pass/total_students)*100)
r_average_math_pass = round(average_math_pass)
#print(r_average_math_pass)

print(f"Average passing math: {r_average_math_pass}%")

Average passing math: 75%

In [73]:
## % passing reading (the percentage of students who passed reading)

## Sorting to find students that passed reading
reading_pass = school_data_complete.loc[school_data_complete['reading_score'] >= 70]
#print(reading_pass)
#percent_pass_reading = reading_pass.mean()
## Counts how many students are in the new variable
reading_pass.count()
## Setting a variable to hold the # of passing students for reeading
student_reading_pass = 33610

## Finding the average
average_reading_pass = ((student_reading_pass/total_students)*100)
r_average_reading_pass = round(average_reading_pass)
#print(r_average_reading_pass)

print(f"Average passing reading: {r_average_reading_pass}%")

Average passing reading: 86%

In [330]:
## % overall passing (the percentage of students who passed math AND reading)

## Sorting to find students that passed reading and math
all_pass = school_data_complete.loc[(school_data_complete['math_score'] >= 70) &
    (school_data_complete['reading_score'] >=70)]
## Counts how many students passed both subjects
all_pass.count()
total_all_pass = 25528

## Finding the average
average_all_pass = ((total_all_pass/total_students)*100)
r_average_all_pass = round(average_all_pass)
#print(r_average_all_pass)

print(f"Overall passing: {r_average_all_pass}%")

Overall passing: 65%

In [332]:
## District Summary

district_df = pd.DataFrame({
    "Total Schools": [unique_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math],
    "Average Reading Score": [average_reading],
    "% Passing Math": [r_average_math_pass],
    "% Passing Reading": [r_average_reading_pass],
    "% Overall Passing": [r_average_all_pass]})
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,79.0,82.0,75,86,65

In [334]:

## Listing out all the school names
unique_schools = school_data_complete['school_name'].unique()
unique_schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [336]:
## Per school type

## Finding school types and converting to a list
per_school_type = school_data_df['type'].tolist()
per_school_type

['District',
 'District',
 'Charter',
 'District',
 'Charter',
 'Charter',
 'Charter',
 'District',
 'Charter',
 'Charter',
 'Charter',
 'District',
 'District',
 'District',
 'Charter']

In [440]:
## Per school student total

## Finding students for each school then converting to a list
per_school_students = school_data_complete['school_name'].value_counts()
per_school_students.tolist()

[4976,
 4761,
 4635,
 3999,
 2949,
 2917,
 2739,
 2283,
 1858,
 1800,
 1761,
 1635,
 1468,
 962,
 427]

In [340]:
## Per school budget

## Finding budgets for each school and converting to a list
per_school_budget_one = school_data_df['budget'].tolist()
per_school_budget_one

[1910635,
 1884411,
 1056600,
 3022020,
 917500,
 1319574,
 1081356,
 3124928,
 248087,
 585858,
 1049400,
 2547363,
 3094650,
 1763916,
 1043130]

In [ ]:
per_school_budget = school_data_complete.groupby(['school_name']).mean()['budget']

In [370]:
## Per capita budget

per_capita_budget = per_school_budget / per_school_students
per_capita_budget.tolist()

[383.97005627009645,
 395.8015122873346,
 227.96116504854368,
 755.6939234808702,
 311.12241437775515,
 452.3736715803908,
 394.79956188389923,
 1368.7814279456854,
 133.52368137782562,
 325.4766666666667,
 595.9114139693356,
 1558.0201834862385,
 2108.0722070844686,
 1833.5925155925156,
 2442.927400468384]

In [344]:
## Per school average math score

## Conversion to ineteger so values can be used for calculations
school_data_complete['math_score'] = pd.to_numeric(school_data_complete['math_score'])
per_school_math = school_data_complete.groupby('school_name')['math_score'].mean()
per_school_math.round().tolist()

[77.0,
 83.0,
 77.0,
 77.0,
 83.0,
 77.0,
 84.0,
 77.0,
 77.0,
 84.0,
 77.0,
 83.0,
 83.0,
 83.0,
 84.0]

In [263]:
## Per school average reading score

## Conversion to ineteger so values can be used for calculations
school_data_complete['reading_score'] = pd.to_numeric(school_data_complete['reading_score'])
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()
(per_school_reading.round()).tolist()

[81.0,
 84.0,
 81.0,
 81.0,
 84.0,
 81.0,
 84.0,
 81.0,
 81.0,
 84.0,
 81.0,
 84.0,
 84.0,
 84.0,
 84.0]

In [ ]:
##

In [426]:
## Per school average passing math


per_school_pass_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
per_school_pass_math[['school_name', 'math_score']]

              school_name  math_score
0       Huang High School          79
4       Huang High School          84
5       Huang High School          94
6       Huang High School          80
8       Huang High School          87
...                   ...         ...
39165  Thomas High School          90
39166  Thomas High School          70
39167  Thomas High School          84
39168  Thomas High School          90
39169  Thomas High School          75

[29370 rows x 2 columns]

In [354]:
## Per school average passing reading

per_school_pass_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
per_school_pass_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [450]:
## Per school average passing both subjects

passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
passing_math_and_reading = school_data_complete[''].value_counts()
passing_math_and_reading

KeyError: ''

In [452]:
per_school_passing_math = per_school_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

KeyError: 'student_name'