In [ ]:
PyCity Schools Analysis

# 1. Overall school size played a rather large factor. As the bottom 3 schools in terms of population,
# averaged out to about $1,967,232. While the 3 largest schools averaged about $1,617,215. Smaller schools seemed
# to have larger budgets on average.

# 2. There was a three-way tie for highest average math score for both reading and math. Cabrera High School, 
# Pena High School, and Thomas High School. All of which scored 84% in both Math and Reading.

# 3. The smallest school overall was spending nearly 16 times more per capita ($2442.92), than the largest school ($383.97).

In [3]:
## Importing dependencies 
import pandas as pd
import os

In [5]:
## Importing in CSV files
school_data_csv = "Resources/schools_complete.csv"
student_data_csv =  "Resources/students_complete.csv"

## Reading in CSV files and convert into Pandas dataframes
school_data_df = pd.read_csv(school_data_csv)
student_data_df = pd.read_csv(student_data_csv)

## Merging the dataframes
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [7]:
## Verifying data is clean
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [9]:
## Total number of unique schools

## Printing out school dataframe to view all the school names
print(school_data_df)
## Counting the rows so row 0 is also included in the total
#school_data_df.count()
unique_schools = 15

print(f"Total number of unique schools: {unique_schools}")

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130
Total number of unique schools: 15

In [11]:
## Total students

## Counting each student ID
student_data_df.count()

total_students = 39170
print(f"Total number of students: {39170}")

Total number of students: 39170

In [13]:
## Total budget

## Adding the budget for each school together
total_budget = school_data_df['budget'].sum()
#print(total_budget)

print(f"Total budget: ${total_budget}")

Total budget: $24649428

In [15]:
## Average math score

## Finding the average math score, then rounding to the nearest whole #
average_math = (school_data_complete['math_score'].mean()).round()
#print(average_math)

print(f"Average math score: {average_math}")

Average math score: 79.0

In [17]:
## Average reading score

## Finding the average reading score, then rounding to the nearest whole #
average_reading = (school_data_complete['reading_score'].mean()).round()
#print(average_reading)

print(f"Average reading score: {average_reading}")

Average reading score: 82.0

In [19]:
## % passing math (the percentage of students who passed math)

## Sorting to find students that passed math
math_pass = school_data_complete.loc[school_data_complete['math_score'] >= 70]
#print(math_pass)
#percent_pass_math = math_pass.mean()
## Counts how many students are in the new variable
math_pass.count()
## Setting a variable to hold the # of passing students for math
student_math_pass = 29370

## Finding the average
average_math_pass = ((student_math_pass/total_students)*100)
r_average_math_pass = round(average_math_pass)
#print(r_average_math_pass)

print(f"Average passing math: {r_average_math_pass}%")

Average passing math: 75%

In [25]:
## % passing reading (the percentage of students who passed reading)

## Sorting to find students that passed reading
reading_pass = school_data_complete.loc[school_data_complete['reading_score'] >= 70]
#print(reading_pass)
#percent_pass_reading = reading_pass.mean()
## Counts how many students are in the new variable
reading_pass.count()
## Setting a variable to hold the # of passing students for reeading
student_reading_pass = 33610

## Finding the average
average_reading_pass = ((student_reading_pass/total_students)*100)
r_average_reading_pass = round(average_reading_pass)
#print(r_average_reading_pass)

print(f"Average passing reading: {r_average_reading_pass}%")

Average passing reading: 86%

In [27]:
## % overall passing (the percentage of students who passed math AND reading)

## Sorting to find students that passed reading and math
all_pass = school_data_complete.loc[(school_data_complete['math_score'] >= 70) &
    (school_data_complete['reading_score'] >=70)]
## Counts how many students passed both subjects
all_pass.count()
total_all_pass = 25528

## Finding the average
average_all_pass = ((total_all_pass/total_students)*100)
r_average_all_pass = round(average_all_pass)
#print(r_average_all_pass)

print(f"Overall passing: {r_average_all_pass}%")

Overall passing: 65%

In [29]:
## District Summary

district_df = pd.DataFrame({
    "Total Schools": [unique_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math],
    "Average Reading Score": [average_reading],
    "% Passing Math": [r_average_math_pass],
    "% Passing Reading": [r_average_reading_pass],
    "% Overall Passing": [r_average_all_pass]})
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,79.0,82.0,75,86,65

In [31]:

## Listing out all the school names
unique_schools = school_data_complete['school_name'].unique()
unique_schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [33]:
## Per school type

## Finding school types and converting to a list
per_school_type = school_data_df['type'].tolist()
per_school_type

['District',
 'District',
 'Charter',
 'District',
 'Charter',
 'Charter',
 'Charter',
 'District',
 'Charter',
 'Charter',
 'Charter',
 'District',
 'District',
 'District',
 'Charter']

In [35]:
## Per school student total

## Finding students for each school then converting to a list
per_school_students = school_data_complete['school_name'].value_counts()
per_school_students_one = per_school_students.tolist()
per_school_students_one

[4976,
 4761,
 4635,
 3999,
 2949,
 2917,
 2739,
 2283,
 1858,
 1800,
 1761,
 1635,
 1468,
 962,
 427]

In [37]:
## Per school budget

## Finding budgets for each school and converting to a list
per_school_budget_one = school_data_df['budget'].tolist()
per_school_budget_one

[1910635,
 1884411,
 1056600,
 3022020,
 917500,
 1319574,
 1081356,
 3124928,
 248087,
 585858,
 1049400,
 2547363,
 3094650,
 1763916,
 1043130]

In [61]:
#per_school_budget = school_data_complete.groupby(['school_name']).mean()['budget']
per_school_budget = school_data_complete.groupby('school_name').agg({'budget': 'mean'})
per_school_budget

                          budget
school_name
Bailey High School     3124928.0
Cabrera High School    1081356.0
Figueroa High School   1884411.0
Ford High School       1763916.0
Griffin High School     917500.0
Hernandez High School  3022020.0
Holden High School      248087.0
Huang High School      1910635.0
Johnson High School    3094650.0
Pena High School        585858.0
Rodriguez High School  2547363.0
Shelton High School    1056600.0
Thomas High School     1043130.0
Wilson High School     1319574.0
Wright High School     1049400.0

In [59]:
## Per capita budget

per_capita_budget = per_school_budget['budget'] / per_school_students
per_capita_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [63]:
## Per school average math score

## Conversion to ineteger so values can be used for calculations
school_data_complete['math_score'] = pd.to_numeric(school_data_complete['math_score'])
per_school_math = school_data_complete.groupby('school_name')['math_score'].mean()
per_school_math_two = per_school_math.round().tolist()
per_school_math_two

[77.0,
 83.0,
 77.0,
 77.0,
 83.0,
 77.0,
 84.0,
 77.0,
 77.0,
 84.0,
 77.0,
 83.0,
 83.0,
 83.0,
 84.0]

In [65]:
## Per school average reading score

## Conversion to ineteger so values can be used for calculations
school_data_complete['reading_score'] = pd.to_numeric(school_data_complete['reading_score'])
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()
per_school_reading_two = (per_school_reading.round()).tolist()
per_school_reading_two

[81.0,
 84.0,
 81.0,
 81.0,
 84.0,
 81.0,
 84.0,
 81.0,
 81.0,
 84.0,
 81.0,
 84.0,
 84.0,
 84.0,
 84.0]

In [99]:
## Changing columns into proper datatypes
#school_data_complete.info()
school_data_complete['math_score'] = school_data_complete['math_score'].astype('int64')
school_data_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.3+ MB

In [149]:
## Per school average passing math

per_school_pass_math = school_data_complete.assign(percent_passing_math=school_data_complete['math_score'] >= 70)\
                                          .groupby('school_name')['percent_passing_math']\
                                          .mean() * 100
per_school_pass_math_r = per_school_pass_math.round()
per_school_pass_math_r

school_name
Bailey High School       67.0
Cabrera High School      94.0
Figueroa High School     66.0
Ford High School         68.0
Griffin High School      93.0
Hernandez High School    67.0
Holden High School       93.0
Huang High School        66.0
Johnson High School      66.0
Pena High School         95.0
Rodriguez High School    66.0
Shelton High School      94.0
Thomas High School       93.0
Wilson High School       94.0
Wright High School       93.0
Name: percent_passing_math, dtype: float64

In [151]:
## Per school average passing reading

per_school_pass_reading = school_data_complete.assign(percent_passing_reading=school_data_complete['reading_score'] >= 70)\
                                          .groupby('school_name')['percent_passing_reading']\
                                          .mean() * 100
per_school_pass_reading_r = per_school_pass_reading.round()
per_school_pass_reading_r

school_name
Bailey High School       82.0
Cabrera High School      97.0
Figueroa High School     81.0
Ford High School         79.0
Griffin High School      97.0
Hernandez High School    81.0
Holden High School       96.0
Huang High School        81.0
Johnson High School      81.0
Pena High School         96.0
Rodriguez High School    80.0
Shelton High School      96.0
Thomas High School       97.0
Wilson High School       97.0
Wright High School       97.0
Name: percent_passing_reading, dtype: float64

In [157]:
## Per school average passing both subjects

per_school_pass_all = school_data_complete.assign(percent_passing_all=(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)) \
                                          .groupby('school_name')['percent_passing_all'] \
                                          .mean() * 100
per_school_pass_all_r = per_school_pass_all.round()
per_school_pass_all_r

school_name
Bailey High School       55.0
Cabrera High School      91.0
Figueroa High School     53.0
Ford High School         54.0
Griffin High School      91.0
Hernandez High School    54.0
Holden High School       89.0
Huang High School        54.0
Johnson High School      54.0
Pena High School         91.0
Rodriguez High School    53.0
Shelton High School      90.0
Thomas High School       91.0
Wilson High School       91.0
Wright High School       90.0
Name: percent_passing_all, dtype: float64

In [159]:
# Create the per_school_summary DataFrame
per_school_summary = pd.DataFrame({
    "School Name": unique_schools,
    "School Type": per_school_type,
    "Total Students": per_school_students_one,
    "Total School Budget": per_school_budget['budget'],
    "Per Capita Budget": per_capita_budget,
    "Average Math Score": per_school_math_two,
    "Average Reading Score": per_school_reading_two,
    "Percent Passing Math": per_school_pass_math_r,
    "Percent Passing Reading": per_school_pass_reading_r,
    "Percent Passing All": per_school_pass_all_r
})
#per_school_summary
## Filter by 'School Name"
updated_summary_df = per_school_summary.set_index("School Name")
updated_summary_df

,School Type,Total Students,Total School Budget,Per Capita Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing All
School Name,,,,,,,,,
Huang High School,District,4976,3124928.0,628.0,77.0,81.0,67.0,82.0,55.0
Figueroa High School,District,4761,1081356.0,582.0,83.0,84.0,94.0,97.0,91.0
Shelton High School,Charter,4635,1884411.0,639.0,77.0,81.0,66.0,81.0,53.0
Hernandez High School,District,3999,1763916.0,644.0,77.0,81.0,68.0,79.0,54.0
Griffin High School,Charter,2949,917500.0,625.0,83.0,84.0,93.0,97.0,91.0
Wilson High School,Charter,2917,3022020.0,652.0,77.0,81.0,67.0,81.0,54.0
Cabrera High School,Charter,2739,248087.0,581.0,84.0,84.0,93.0,96.0,89.0
Bailey High School,District,2283,1910635.0,655.0,77.0,81.0,66.0,81.0,54.0
Holden High School,Charter,1858,3094650.0,650.0,77.0,81.0,66.0,81.0,54.0
Pena High School,Charter,1800,585858.0,609.0,84.0,84.0,95.0,96.0,91.0
Wright High School,Charter,1761,2547363.0,637.0,77.0,81.0,66.0,80.0,53.0
Rodriguez High School,District,1635,1056600.0,600.0,83.0,84.0,94.0,96.0,90.0
Johnson High School,District,1468,1043130.0,638.0,83.0,84.0,93.0,97.0,91.0
Ford High School,District,962,1319574.0,578.0,83.0,84.0,94.0,97.0,91.0
Thomas High School,Charter,427,1049400.0,583.0,84.0,84.0,93.0,97.0,90.0

In [165]:
#Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.

highest_performing_schools = updated_summary_df.sort_values("Percent Passing All", ascending=False)
highest_performing_schools.head()

,School Type,Total Students,Total School Budget,Per Capita Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing All
School Name,,,,,,,,,
Figueroa High School,District,4761,1081356.0,582.0,83.0,84.0,94.0,97.0,91.0
Griffin High School,Charter,2949,917500.0,625.0,83.0,84.0,93.0,97.0,91.0
Pena High School,Charter,1800,585858.0,609.0,84.0,84.0,95.0,96.0,91.0
Johnson High School,District,1468,1043130.0,638.0,83.0,84.0,93.0,97.0,91.0
Ford High School,District,962,1319574.0,578.0,83.0,84.0,94.0,97.0,91.0

In [167]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.

lowest_performing_schools = updated_summary_df.sort_values("Percent Passing All")
lowest_performing_schools.head()

,School Type,Total Students,Total School Budget,Per Capita Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing All
School Name,,,,,,,,,
Shelton High School,Charter,4635,1884411.0,639.0,77.0,81.0,66.0,81.0,53.0
Wright High School,Charter,1761,2547363.0,637.0,77.0,81.0,66.0,80.0,53.0
Hernandez High School,District,3999,1763916.0,644.0,77.0,81.0,68.0,79.0,54.0
Wilson High School,Charter,2917,3022020.0,652.0,77.0,81.0,67.0,81.0,54.0
Bailey High School,District,2283,1910635.0,655.0,77.0,81.0,66.0,81.0,54.0

In [175]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name').agg({'math_score': 'mean'})
tenth_graders_scores = school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name').agg({'math_score': 'mean'})
eleventh_graders_scores = school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name').agg({'math_score': 'mean'})
twelfth_graders_scores = school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name').agg({'math_score': 'mean'})

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores.mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th Grade": ninth_grade_math_scores,
    "10th Grade": tenth_grader_math_scores,
    "11th Grade": eleventh_grader_math_scores,
    "12th Grade": twelfth_grader_math_scores})
    
    

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
Bailey High School     77.083676   76.996772   80.575873   76.492218
Cabrera High School    83.094697   83.154506   80.575873   83.277487
Figueroa High School   76.403037   76.539974   80.575873   77.151369
Ford High School       77.361345   77.672316   80.575873   76.179963
Griffin High School    82.044010   84.229064   80.575873   83.356164
Hernandez High School  77.438495   77.337408   80.575873   77.186567
Holden High School     83.787402   83.429825   80.575873   82.855422
Huang High School      77.027251   75.908735   80.575873   77.225641
Johnson High School    77.187857   76.691117   80.575873   76.863248
Pena High School       83.625455   83.372000   80.575873   84.121547
Rodriguez High School  76.859966   76.612500   80.575873   77.690748
Shelton High School    83.420755   82.917411   80.575873   83.778976
Thomas High School     83.590022   83.087886   80.575873   83.497041
Wilson High School     83.085578   83.724422   80.575873   83.035794
Wright High School     83.264706   84.010288   80.575873   83.644986

In [177]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name').agg({'reading_score': 'mean'})
tenth_graders_scores = school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name').agg({'reading_score': 'mean'})
eleventh_graders_scores = school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name').agg({'reading_score': 'mean'})
twelfth_graders_scores = school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name').agg({'reading_score': 'mean'})

# Use the code to select only the `math_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores.mean()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th Grade": ninth_grade_reading_scores,
    "10th Grade": tenth_grader_reading_scores,
    "11th Grade": eleventh_grader_reading_scores,
    "12th Grade": twelfth_grader_reading_scores})
    
    

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
Bailey High School     81.303155   80.907183   82.559485   80.912451
Cabrera High School    83.676136   84.253219   82.559485   84.287958
Figueroa High School   81.198598   81.408912   82.559485   81.384863
Ford High School       80.632653   81.262712   82.559485   80.662338
Griffin High School    83.369193   83.706897   82.559485   84.013699
Hernandez High School  80.866860   80.660147   82.559485   80.857143
Holden High School     83.677165   83.324561   82.559485   84.698795
Huang High School      81.290284   81.512386   82.559485   80.305983
Johnson High School    81.260714   80.773431   82.559485   81.227564
Pena High School       83.807273   83.612000   82.559485   84.591160
Rodriguez High School  80.993127   80.629808   82.559485   80.376426
Shelton High School    84.122642   83.441964   82.559485   82.781671
Thomas High School     83.728850   84.254157   82.559485   83.831361
Wilson High School     83.939778   84.021452   82.559485   84.317673
Wright High School     83.833333   83.812757   82.559485   84.073171